---
import PageLayout from "../layouts/PageLayout.astro";

import "@fontsource/rubik"
import "@fontsource/montserrat"

---

<PageLayout title="about | tzavet">

    <a
        href="/"
        class="text-xl my-10 hover:underline text-[#BDADEA] font-rubik flex flex-row justify-around w-24"
        >/home <img src="/lily.png" class="mx-2" width="34px" /></a
    >
    <ul>
        <li class="about-tag">
            <h1 class="question">what is tzavet?</h1>
            <p class="explanation">
                <a href="https://tzavet.advrxh.tech"
                    ><strong><i>tzavet</i></strong></a
                > is a curation of writings by Aadil Varsh (<a
                    href="https://advrxh.tech">@advrxh</a
                >). Often poems.
            </p>
        </li>
        <div class="flex justify-center align-middle">
            <div class="h-px w-1/2 my-8 bg-[#BDADEA] border-0"></div>
        </div>

        <li class="about-tag">
            <h1 class="question">
                what does <strong><i>tzavet</i></strong> mean?
            </h1>
            <p class="explanation">
                The word <b>tzavet</b>, is a modified version of `zavet` which
                orginates from Serbian. Meaning <span
                    >testament, promise or oath.</span
                > Although actual pronounciation may vary, the name of the curation
                `tzavet` maybe pronounced as 'zah-veh'.
            </p>
        </li>
    </ul>

</PageLayout>
<style lang="scss">
    $small: 500px;

    ul {
        @media screen and (max-width: $small) {
            width: 80%;
        }
        width: 60%;
        list-style: georgian;

        li {
            margin: 0.5em;

            h1 {
                font-size: 3em;
                font-family: montserrat;
                color: #4e4b5c;
            }

            p {
                font-size: 1.8em;
                font-family: rubik;
                color: #a37871;
            }
        }
    }
</style>
